<footer>
<div class="content">
  <div class="copyright">2011 © GBIF. Data publishers retain all rights to data.</div>
  <p>Do you need help? <a href="mailto:helpdesk@gbif.org">helpdesk@gbif.org</a></p>
</div>
</footer>
