<header>

<!-- top -->
<div id="top">
  <div class="content">
    <div class="account">
      <a href="#" class="Sign in">Sign in</a> or <a href="#" title="Create your account">Create your account</a>
    </div>
    <%= render "partials/logo" %>
    <nav>
    <ul>
      <li><a href="#" title="Browse">Browse<span class="more"></span></a></li>
      <li class="search"><form><input type="text" name="search" /></form></li>
    </ul>
    </nav>
  </div>
</div>
<!-- /top -->

</header>
