<header>

<!-- top -->
<div id="top">
  <div class="content">
    <%= render "partials/account_header" %>
    <%= render "partials/logo" %>
    <nav>
    <ul>
      <li><a href="#" class="more" title="Browse">Browse<span class="more"></span></a></li>
      <li class="search">
      <form>
        <span class="input_text">
          <input type="text" name="search" />
        </span>
      </form>
    </ul>
    </nav>
  </div>
</div>
<!-- /top -->

</header>
