<header>
<div id="top">
  <div class="account">
    <a href="#">Sign in</a> or <a href="#">Create your account</a>
  </div>
  <div id="logo">
    <a href="#" class="logo"><img src="/assets/img/logo.png" /></a>
    <h1><a href="#">DATA.GBIF.ORG</a></h1>
    <span>Free and open access to biodiversity data</span>
  </div>
  <nav>
  <ul>
    <li><a href="#">Occurences</a></li>
    <li class="selected"><a href="#">Datasets</a></li>
    <li><a href="#">Species</a></li>
    <li><a href="#">More</a></li>
    <li class="search"><input type="text" /></li>
  </ul>
  </nav>
</div>
<div id="infoband">
  <ul>
    <li>Explore</li> > <li>Datasets</li>
  </ul>
  <hgroup>
  <h1>Pontaurus collection</h1>
  <h2>Provided by <a href="#">Botanic Garden and Botanical Museum Berlin-Dahlem</a></h2>
  </hgroup>
  <div class="tags">Turkey, coastal, herbal</div>
</div>
<ul id="tabs">

  <li><a href="#"><span>Information</span></a></li>
  <li><a href="#"><span>Activity <sup>(2)</sup></span></a></li>
  <li class="selected"><a href="#"><span>Discussion <sup>(3)</sup></span></a></li>
</ul>
</header>
