<header>

<!-- top -->
<div id="top">
  <div class="content">
    <%= render "partials/account_header" %>
    <%= render "partials/logo" %>
    <%= render "partials/nav", :selected => section %>
  </div>
</div>
<!-- /top -->

<!-- infoband -->
<div id="infoband">
  <div class="content">
    <h2>Search <%= section %></h2>
    <form>
      <input type="text" name="search" />
    </form>
  </div>
</div>
<!-- /infoband -->

</header>
