<header>

<!-- top -->
<div id="top">
  <div class="content">
    <div class="account">
      <a href="#">Sign in</a> or <a href="#">Create your account</a>
    </div>
    <%= render "partials/logo" %>
    <nav>
    <ul>
      <li><a href="#">Occurences</a></li>
      <li class="selected"><a href="dataset.html">Datasets</a></li>
      <li><a href="#">Species</a></li>
      <li><a href="#">More<span class="more"></span></a></li>
      <li class="search"><form><input type="text" name="search" /></form></li>
    </ul>
    </nav>
  </div>
</div>
<!-- /top -->

<!-- infoband -->
<div id="infoband">
  <div class="content">
    <h2>Search datasets</h2>
    <form>
      <input type="text" name="search" />
    </form>
  </div>
</div>
<!-- /infoband -->

</header>
