footer {
  position:relative;
  margin: 0 auto 30px auto;
  width:1024px - 76;
  padding:24px 0 64px 76px;
  height:400px - (24 + 64);
  background: url('/assets/img/footer_bkg.jpg') no-repeat;
  text-align:left;

  ul {
    display:block;
    float:left;
    width:278px;
    margin-right:38px;

    &.first {
      clear:left;
    }

    li {
      margin-bottom:3px;

      &.no_title {
        margin-top:35px;

      }

      p {
        font-size:15px;
        color:$darkest;
        opacity:.4;
        margin-bottom:5px;
      }

      a {
        color:$darkest;
        opacity:.4;
      }

      h3 {
        margin-bottom:14px;
        font-family:$font_medium;
        font-size:13px;
        color:$brightest;
      }
    }
  }

  .copyright {
    position:absolute;
    left:0;
    bottom:0;
    width:1024px - (75px * 2);
    background:#222222;
    padding:12px 75px 12px 75px;

    p {
      color:$brightest;
      font-size:11px;
    }
  }
}
