header {
  position:relative;
  margin:auto;
  width:1024px;
  padding-top:3px;
  background:url('/assets/img/top_bar.jpg') top left repeat-x;
  text-align:left;

  #logo {
    position:absolute;
    top:36px;
    left:55px;
    height:38px;
    width:300px;
    color:$ultra_dark;
    font-size:11px;

    .logo {
      position:relative;
      float:left;
      width:41px;
      height:38px;
      margin: 0 10px 0 0;
      top:-5px;
    }

    span {
      opacity:.5;
    }

    h1 {
      display:block;
      margin-bottom:4px;
    }

    a {
      font-family:$font_medium;
      font-size:17px;
      color:$ultra_dark;
    }
  }

  #top {
    position:relative;
    background: url('/assets/img/top_header_bkg.jpg') no-repeat;
    height: 98px;

    .account {
      position:absolute;
      top:-3px;
      right:52px;
      height:25px - 6;
      width: 177px - 7;
      text-align:center;
      padding:6px 0 0 7px;
      color: #ADD8B8;
      font-size:11px;
      background:url('/assets/img/header_account_bkg.png') no-repeat;

      a {
        color: $brightest;
        &:hover {
          color:$ultra_dark;
          @include color-transition;
        }
      }
    }

    nav {
      position:absolute;
      top:51px;
      right:55px;

      ul  {

        li {
          display:inline;
          margin-left:23px;
          font-size:15px;
          font-family:$font_medium;

          input.search {
            border:none;
            width:173px - 35;
            padding:5px 10px 0 25px;
            height:27px - 5;
            background: url('/assets/img/input_bkg.png') no-repeat left top;

            &:focus {
              outline:none;
            }
          }

          a {
            @include white-shadow;
            @include color-transition;

            &:hover { color:$ultra_dark; }
          }
        }
      }
    }
  }

  ul#tabs {
    position:absolute;
    padding:0;
    margin:0;
    margin-left: 57px;
    bottom: 0px;
    z-index:100;

    li {
      float:left;
      display:block;
      margin-right:3px;
      font-family: $font_medium;

      &:hover {
        span {
          background-position: right bottom;
        }
      }

      a {
        color:$brightest;
        float:left; padding-left:20px;
        background:url(/assets/img/tab_left.png) no-repeat left bottom;
        display:block;
        line-height:38px;
        height:37px;

        &.selected {
          color:$ultra_dark;
          background-position:left top;
          span {
            background-position:right top;
          }
        }

        &:hover {
          @include remove-transition;
          color: $ultra_dark;
          background-position:left top;
          span {
          background-position:right top;

            }
        }

      span {
        background:url(/assets/img/tab_right.png) no-repeat right bottom;
        display:block;
        height:37px;
        padding-right:20px;
      }
      }



   // li {
   //   position:relative;
   //   float:left;
   //     display:block;
   //     font-family: $font_medium;
   //     font-size: 15px;
   //     color:$ultra_dark;
   //     display:block;
   //     text-align:center;
   //     margin-right:3px;
   //     height:37px - 11;
   //     padding-top:11px;
   //     padding-left:10px; padding-right:10px;
   //     background: url('/assets/img/tab_left_side.png') no-repeat;

   //   a {
   //   }

   //   span.content {
   //     float:left;
   //     background:#fff;

   //   }

   //   span.right_bar {
   //     width:10px;
   //     height:37px;
   //     position:absolute;
   //     float:right;
   //     right:0;
   //     bottom:0;
   //     background: url('/assets/img/tab_right_side.png') no-repeat;
   //   }

      //&.selected {
      //  a {
      //    width:103px;
      //    color: $brightest!important;
      //    background: url('/assets/img/tab.png') no-repeat;
      //  }
      //}

      sup {
        font-size:11px;
        top:-3px;
      }
    }
  }

  #infoband {
    height: 189px - 33;
    padding-top: 33px;
    text-align:left;
    padding-left:57px;
    background: url('/assets/img/infoband.jpg') no-repeat;

    ul {
      padding:0; margin:0;
      margin-left: 3px;

      li {
        display:inline;
        font-size:13px;
        color: $ultra_dark;
        opacity:.75;
      }

    }

    h1 {
      margin-bottom:9px;
      font-family: $font_medium;
      font-size:35px;
      color: $brightest;
    }

    h2 {
      font-size:15px;
      font-weight:normal;
      color:$ultra_dark;
      opacity:.75;

      a {
        color: $brightest;
        opacity:1.25;
      }
    }

    .tags {
      background:url('/assets/img/tag_line.png') no-repeat left top;
      margin-top:10px;
      padding-top:10px;
      font-size: 11px;
      color:$ultra_dark;
      opacity:.75;
    }

    .stats {


    }

  } // infoband
}

