body {
  padding-top:17px;
  text-align:center;
  font-size:13px;
  color:$medium_dark;
  font-family:$base;
  background: $background;
}

abbr {
  font-size:11px;
  text-transform:uppercase;
}

span.date {
  font-size:11px;
}

a {
  color: $link_color;
  font-weight: normal;
  text-decoration:none;

  &:hover {
    color:$ultra_dark;
    @include color-transition;
  }
}

/* These selection declarations have to be separate
No text-shadow: twitter.com/miketaylr/status/12228805301 */
  ::-moz-selection{ background: $selection_color; color:#fff; text-shadow: none; }
  ::selection { background:$selection_color; color:#fff; text-shadow: none; }

  #content {
    clear:both;
    overflow:hidden;
    margin:auto;
    width: 1024px;
    background-color: $content_base;
    text-align:center;
    padding-top:40px;

    article {
      position:relative;
      width:924px;
      margin: 0 auto 66px auto;
      text-align:left;
      color:$ultra_dark;

      &.mapx {

          #map {
            position:absolute;
            top:-19px;
            height:200px + 19*2;
            width: 603px;
            z-index:100;
          }

          .content {
            height:200px;
          }
      }

      .content {
        clear:both;
        overflow:hidden;
        padding: 0 25px;
        background: url('/assets/img/box_bkg.png') repeat-y;
      }

      .header{
        position:absolute;
        top: -19px;
        width:924px;
        height:19px;
        background: url('/assets/img/box_top.png') no-repeat left top;
      }

      .footer {
        position:absolute;
        bottom: -19px;
        width:924px;
        height:19px;
        background: url('/assets/img/box_bottom.png') no-repeat left top;
      }

      ul {
        margin-bottom: 26px;
        margin-left: 1px;

        li {
          font-size: 15px;
          margin-bottom: 8px;
          line-height:18px;
          background:url('/assets/img/icons/dot.png') no-repeat left 8px;
          padding-left: 7px;

          &.download {
            padding-left: 18px;
            background:url('/assets/img/icons/arrow_down.png') no-repeat left 3px;
          }
        }
      } // ul


      .left {
        float:left;
        width: 603px;
        margin-right: 33px;
      }

      .right {
        float:left;
        width:230px;
      }

      header {
        width:auto;
        border-bottom: 1px solid $gray;
        height: 46px;
        margin-bottom: 25px;
        background:none;
      }

      h2 {
        font-family: $font_medium;
        font-size:23px;
        color:$ultra_dark;
        @include white-shadow;
        line-height:18px;
      }

      h3 {
        font-family: $font_medium;
        font-size:13px;
        text-transform:uppercase;
        color:$ultra_dark;
        margin-bottom:8px;
        @include white-shadow;
      }

      p {
        font-size: 15px;
        color:$medium_dark;
        line-height: 18px;
        margin-bottom: 18px;
      }

    } // article
  } // #content

