@mixin hover-animation { -webkit-transition: color .5s ease-in-out; -moz-transition: color .5s ease-in-out; -o-transition: color .5s ease-in-out; -ms-transition: color .5s ease-in-out; transition: color .5s ease-in-out; }
@mixin white-shadow { text-shadow:0 1px white; filter:progid:DXImageTransform.Microsoft.DropShadow(offx=0, offy=1, color=#FFFFFF); }

body {
  padding-top:17px;
  text-align:center;
  font-size:13px;
  color:$dark_gray;
  font-family:$base;
  background: $background;
}

abbr {
  font-size:11px;
  text-transform:uppercase;
}

a {
  color: $link_color;
  font-weight: normal;
  text-decoration:none;

  &:hover {
    color:$ultra_dark;
    @include hover-animation;
  }
}

a.download {
  width:13px; height:13px;
  padding-left: 18px;
  background:url('/assets/img/icons/arrow_down.png') no-repeat;
}

ul {
  margin-bottom: 26px;

  li {
    font-size: 15px;
    margin-bottom: 8px;
    line-height:18px;
  }
}

header {
  margin:auto;
  width:1024px;
  padding-top:3px;
  background:url('/assets/img/top_bar.jpg') top left repeat-x;

  #top {
    background: url('/assets/img/top_header_bkg.jpg') no-repeat;
    height: 98px;

    nav {

      ul  {

        li {
          display:inline;
          margin-right:23px;

          a {
            @include white-shadow;
            @include hover-animation;

            &:hover { color:$ultra_dark; }
          }

        }
      }


    }
  }

  #infoband {
    width:1024px;
    height: 189px;
    background: url('/assets/img/infoband.jpg') no-repeat;
  }
}

#content {
  clear:both;
  overflow:hidden;
  margin:auto;
  width: 1024px;
  background-color: $content_base;
  text-align:center;
  padding-top:30px;

  article {
    clear:both;
    overflow:hidden;
    width:899px;
    margin: 0 auto 33px auto;
    text-align:left;
    background: $white;
    color:$ultra_dark;
    padding: 21px 0 21px 21px;

    .left {
      float:left;
      width: 603px;
      margin-right: 33px;
    }

    .right {
      float:left;
      width:230px;
    }

    header {
      width:auto;
      border-bottom: 1px solid #ccc;
      height: 46px;
      margin-bottom: 24px;
      background:none;
    }

    h2 {
      font-family: $medium;
      font-size:23px;
      color:$ultra_dark;
      margin-bottom:24px;
      @include white-shadow;
    }

    h3 {
      font-family: $medium;
      font-size:13px;
      text-transform:uppercase;
      color:$ultra_dark;
      margin-bottom:12px;
      @include white-shadow;
    }

    p {
      font-size: 15px;
      color:$dark_gray;
      line-height: 18px;
      margin-bottom: 26px;
    }
  }
}

footer {
  position:relative;
  margin: 0 auto 30px auto;
  width:1024px;
  height:365px;
  background: url('/assets/img/footer_bkg.jpg') no-repeat;
  text-align:left;

  .copyright {
    position:absolute;
    bottom:0;
    width:874px;
    background:#222222;
    padding:12px 75px 12px 75px;

    p {
      color:$white;
      font-size:11px;
    }

  }
}
