<header>

<!-- top -->
<div id="top">
  <div class="content">
    <div class="account">
      <a href="#">Sign in</a> or <a href="#">Create your account</a>
    </div>
    <%= render "partials/logo" %>
    <%= render "partials/nav", :selected => "species" %>
  </div>
</div>
<!-- /top -->

<%= render "/species/infoband" %>

<!-- tabs -->
<div id="tabs">
  <ul>
    <li<%= ' class="selected highlighted"' if selected == "information" %>><a href="index.html"><span>Information</span></a></li>
    <li<%= ' class="selected highlighted"' if selected == "activity" %>><a href="process_detail.html" title="Activity"><span>Activity <sup>(2)</sup></span></a></li>
  </ul>
</div>
<!-- /tabs-->

</header>




