<header>

<!-- top -->
<div id="top">
  <div class="content">
    <div class="account">
      <a href="#">Sign in</a> or <a href="/user/register/step0.html">Create your account</a>
    </div>
    <%= render "partials/logo" %>
    <%= render "partials/nav", :selected => "species" %>
  </div>
</div>
<!-- /top -->

</header>
