<header>

<!-- top -->
<div id="top">
  <div class="content">
    <%= render "partials/account_header" %>
    <%= render "partials/logo" %>
    <%= render "partials/nav", :selected => "species" %>
  </div>
</div>
<!-- /top -->

</header>
