<!-- infoband -->
<div id="infoband">
  <div class="content">
    <ul class="breadcrumb">
      <li class="last"><a href="#" title="Species">Species</a></li>
    </ul>

    <h1>Puma Concolor</h1>
    <h3 class="separator">Animalia</h3>

    <ul class="tags">
      <li><a href="#" title="Turkey">Turkey</a></li>
      <li><a href="#" title="coastal">coastal</a></li>
      <li class="last"><a href="#" title="herbal">herbal</a></li>
    </ul>

    <!-- box -->
    <div class="box">
      <div class="content">
        <ul>
          <li><h4>123,356</h4>Ocurrences</li>
          <li class="last"><h4>349</h4>Subspecies</li>
        </ul>
        <a href="#" title="Download ocurrences" class="download candy_blue_button"><span>Download ocurrences</span></a>
      </div>
    </div>
    <!-- /box -->

  </div>
</div>
<!-- /infoband -->
