<!-- infoband -->
<div id="infoband">
  <div class="content">
    <ul class="breadcrumb">
      <li class="last"><a href="#" title="Species">Name usage</a></li>
    </ul>

    <h1>Puma Concolor</h1>
    <h3>according to <a href="/dataset/checklist.html">Mexican felines</a> checklist</h3>
    <h3 class="separator">Animalia</h3>

    <ul class="tags">
      <li><a href="#" title="Turkey">Turkey</a></li>
      <li><a href="#" title="coastal">coastal</a></li>
      <li class="last"><a href="#" title="herbal">herbal</a></li>
    </ul>

  </div>
</div>
<!-- /infoband -->
