<header>

<!-- top -->
<div id="top">
  <div class="content">

    <%= render "partials/account_header" %>
    <%= render "partials/logo" %>
    <%= render "partials/nav", :selected => "species" %>
  </div>
</div>
<!-- /top -->

<%= render "/species/name_usage_infoband" %>

<%
information = (selected == "information") ? "selected" : ""
information += (highlighted == "information") ? " highlighted" : ""
information_classes = (information.strip == '') ? "" : " class='#{information.strip}'"

activity = (selected == "activity") ? "selected" : ""
activity += (highlighted == "activity") ? " highlighted" : ""
activity_classes = (activity.strip == '') ? "" : " class='#{activity.strip}'"

raw = (selected == "raw") ? "selected" : ""
raw += (highlighted == "raw") ? " highlighted" : ""
raw_classes = (raw.strip == '') ? "" : " class='#{raw.strip}'"

classes = {:information => information_classes, :activity => activity_classes, :raw => raw_classes}

%>

<!-- tabs -->
<div id="tabs">
  <ul>
    <li<%= classes[:information] %>><a href="name_usage.html"><span>Information</span></a></li>
    <li<%= classes[:activity] %>><a href="#" title="Activity" id="activity_tab"><span>Activity <sup>(2)</sup></span></a></li>
    <li<%= classes[:raw] %>><a href="name_usage_raw.html"><span>Details</span></a></li>
  </ul>
</div>
<!-- /tabs-->

</header>
