<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <%= render 'partials/head' %>
</head>
<body class="stats">
  <%= render "/stats/header" %>
  <div id="content">
    <%= yield %>
    <%= render "/partials/login" %>
    <%= render "/partials/download" %>
  </div>
  <%= render "/partials/footer" %>
  <%= render "/partials/scripts" %>
	<%= render 'partials/popovers' %>
  <%= render 'partials/map' %>
  
  <script type="text/javascript" charset="utf-8">
    $(function() {
        $("#dataset-graph1").addGraph(generateRandomValues(50), {height:200});
    });
</script>
</body>
</html>
