<article id="download2" class="infowindow download2">
<header></header>
<a href="#" class="close"></a>
<div class="content">
  <h2>DOWNLOAD DATA</h2>
    <div class="light_box package">
      <div class="content">
        <p>Occurrences of “Puma concolor”, collected between Jan 1sr, 2000 and Jan 1st, 2010, from dataset "Felines of the world".</p>
      </div>
    </div>
    CSV <span class="size">(≈150Kb)</span> <button type="submit" class="candy_blue_button"><span>Download</span></button>
</div>
<footer></footer>
</article>
