<article id="download" class="infowindow download_data">
<header></header>
<a href="#" class="close"></a>
<div class="content">
  <h2>DOWNLOAD DATA</h2>
  <p>Occurrences of “Puma concolor”, collected between Jan 1sr, 2000 and Jan 1st, 2010, from dataset “Felines of the world”.</p>
  <form autocomplete="off">
    <div class="light_box">
      <h3>Select a format</h3>
      <ul>
        <li><input type="radio" name="format" value="csv" /> CSV <span class="size">(≈150Kb)</span></li>
        <li><input type="radio" name="format" value="xls" /> XLS</li>
        <li><input type="radio" name="format" value="xml" /> XML</li>
      </ul>
    </div>
    <button type="submit" class="candy_blue_button"><span>Download</span></button>
  </form>
</div>
<footer></footer>
</article>

<article id="download2" class="infowindow download2">
<header></header>
<a href="#" class="close"></a>
<div class="content">
  <h2>DOWNLOAD DATA</h2>
    <div class="light_box">
      <p>Occurrences of “Puma concolor”, collected between Jan 1sr, 2000 and Jan 1st, 2010, from dataset "Felines of the world".</p>
    </div>
  <button type="submit" class="candy_blue_button"><span>Download</span></button>
</div>
<footer></footer>
</article>

<article id="download3" class="infowindow download3">
<header></header>
<a href="#" class="close"></a>
<div class="content">
  <h2>DOWNLOAD DATA</h2>
  <p>Remember that the downloaded data has to be correctly cited if it is used in publications. You will receive a citation text vbundled in the file with your download.</p>
  <p>If you have any doubt about the legal terms, please check our <a href="#" title="GBIF Data Terms and Conditions">GBIF Data Terms and Conditions</a>.</p>
  <button type="submit" class="candy_white_button"><span>Close</span></button>
</div>
<footer></footer>
</article>
