<footer>
<ul>
  <li><h3>EXPLORE THE DATA</h3></li>
  <li><a href="#">Occurrences</a></li>
  <li><a href="#">Datasets</a></li>
  <li><a href="#">Species</a></li>
  <li><a href="#">Countries</a></li>
  <li><a href="#">Providers</a></li>
</ul>

<ul>
  <li><h3>VIEW THE STATISTICS</h3></li>
  <li><a href="#">Global numbers</a></li>
  <li><a href="#">Taxonomic coverage</a></li>
  <li><a href="#">Providers</a></li>
  <li><a href="#">Countries</a></li>
</ul>

<ul >
  <li><h3>JOIN THE COMMUNITY</h3></li>
  <li><a href="#">Sign in</a></li>
  <li><a href="#">Sign Up</a></li>
  <li><a href="#">Terms of the service</a></li>
  <li><a href="#">About GBIF</a></li>
</ul>

<ul class="first">
  <li><h3>LATEST FROM THE GBIF DEVELOPER BLOG</h3></li>
  <li>
  <p><a href="#">The GBIF Development Team</a>
  <span class="date">11th, April of 2011</span></p>

  <p>Recently the GBIF development group have been asked to communicate more on the work being carried out in...</p>
  </li>
</ul>

<ul>
  <li class="no_title">
  <p><a href="#">Setting up a Hadoop cluster - Part 1...</a>
  <span class="date">11th, April of 2011</span></p>

  <p>Recently the GBIF development group have been asked to communicate more on the work being carried out in the se...</p>
  </li>
</ul>

<ul>
  <li><h3>LATEST FROM THE GBIF NEWS</h3></li>
  <li>
  <p><a href="#">Experts Workshop on the GBIF...</a>
  <span class="date">11th, April of 2011</span></p>

  <p>The GBIF Secretariat is pleased to announce a new training opportunity for GBIF Participants: an Experts...</p>
  </li>
</ul>

<div class="copyright">
  <p>2011 © GBIF. Data publishers retain all rights to data.</p>
</div>
</footer>
