<footer>
<ul>
  <li><h3>EXPLORE THE DATA</h3></li>
  <li><a href="#">Occurrences</a></li>
  <li><a href="#">Datasets</a></li>
  <li><a href="#">Species</a></li>
  <li><a href="#">Countries</a></li>
  <li><a href="#">Providers</a></li>
</ul>

<div class="copyright">
  <p>2011 © GBIF. Data publishers retain all rights to data.</p>
</div>
</footer>
