<!-- infoband -->
<div id="infoband">
  <div class="content">
    <ul class="breadcrumb">
      <li><a href="#" title="Explore">Explore</a></li> <li class="last"><a href="#" title="Datasets">Datasets</a></li>
    </ul>

    <h1>Pontaurus collection</h1>
    <h3>Provided by <a href="#" title="Botanic Garden and Botanical Museum Berlin-Dahlem">Botanic Garden and Botanical Museum Berlin-Dahlem</a></h3>

    <ul class="tags">
      <li><a href="#" title="Turkey">Turkey</a></li>
      <li><a href="#" title="coastal">coastal</a></li>
      <li class="last"><a href="#" title="herbal">herbal</a></li>
    </ul>

    <!-- box -->
    <div class="box">
      <div class="content">
        <ul>
          <li><h4>1,356</h4>Ocurrences</li>
          <li><h4>349</h4>Species</li>
          <li class="last"><h4>726</h4>Taxa</li>
        </ul>
        <a href="#" title="Download ocurrences" class="candy_blue_button"><span>Download ocurrences</span></a>
      </div>
    </div>
    <!-- /box -->

  </div>
</div>
<!-- /infoband -->
