<article id="login" class="login">
<header></header>
<a href="#" class="close"></a>
<div class="content">
  <h2>SIGN IN TO GBIF</h2>
  <form autocomplete="off">
    <div class="light_box">
      <div class="field">
        <h3>Email</h3>
        <span class="input_text">
          <input id="email" name="email" type="text" />
        </span>
      </div>

      <div class="field">
        <h3>Password</h3>
        <span class="input_text">
          <input id="password" name="password" type="password" />
        </span>
      </div>
      <div class="tl"></div><div class="tr"></div><div class="bl"></div><div class="br"></div>
    </div>
    <a href="#" title="Recover your password">Forgot your password?</a>
    <button type="submit" class="candy_blue_button"><span>Login</span></button>
  </form>
  <div class="footer">Do yo need to Sign up? <a href="#" title="Create your account">Create your account</a></div>
</div>
<footer></footer>
</article>
