<div id="logo">
  <a href="/reference.html" class="logo"><img src="img/header/logo.png" /></a>
  <h1><a href="/reference.html" title="DATA.GBIF.ORG">DATA.GBIF.ORG</a></h1>
  <span>Free and open access to biodiversity data</span>
</div>
