<% clase = ' class="selected"' %>
<nav>
<ul>
  <li<%= @selected == "occurences" ? clase : nil %>><a href="#" title="Occurences">Occurences</a></li>
  <li<%= @selected == "datasets" ? clase : nil %>><a href="dataset.html" title="Datasets">Datasets</a></li>
  <li<%= @selected == "species" ? clase : nil %>><a href="#" title="Species">Species</a></li>
  <li<%= @selected == "more" ? clase : nil %>><a href="#" title="More">More<span class="more"></span></a></li>
  <li class="search">
  <form>
    <span class="input_text">
      <input type="text" name="search" />
    </span>
  </form>
  </li>
</ul>
</nav>
