<% clase = ' class="selected"' %>
<nav>
<ul>
  <li<%= @selected == "occurrences" ? clase : nil %>><a href="/occurrences/index.html" title="Occurrences">Occurrences</a></li>
  <li<%= @selected == "datasets" ? clase : nil %>><a href="/dataset/index.html" title="Datasets">Datasets</a></li>
  <li<%= @selected == "species" ? clase : nil %>><a href="/species/index.html" title="Species">Species</a></li>
  <li<%= @selected == "more" ? clase : nil %>><a href="#" class="more" title="More">More<span class="more"></span></a></li>
  <li class="search">
  <form action="/dataset/search.html" method="post">
    <span class="input_text">
      <input type="text" name="search" />
    </span>
  </form>
  </li>
</ul>
</nav>
