<script type="text/javascript" charset="utf-8">

    $('nav ul li a.more').bindLinkPopover({
      links:{
        "Countries":"/countries/index.html",
        "GBIF network":"/members/index.html",
        "Themes":"/themes/index.html",
        "Stats":"/stats/index.html",
        "About":"/static/about.html"
      }
    });

// Criteria selector
// $(".add_criteria").criteriaPopover({
// options: { criterias: [ { label: "Range", criteria: "range" }, { label: "Date", criteria: "date" } ] }
// });

// Date popover
$("time.selectable").datePopover();

// Autosuggest
$(".autocomplete input").autosuggest();

// Range selector
$(".range").bindSlider(0, 500, [0, 500]);

// Example dropdown
$('.sort').dropdownPopover({
  options: {
    links: [
      { name: "Sort alphabetically",
        callback: function(e) { e.preventDefault(); alert("Sort alphabetically"); },
        replaceWith:'Sort alphabetically<span class="more"></span>'
      },
      { name: "Sort by count",
        callback: function(e) { e.preventDefault(); alert("Sort by count"); },
        replaceWith:'Sort by count<span class="more"></span>'
      }
      ]
    }
  });
</script>
