<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <%= render 'partials/head' %>
</head>
<body>
    <%= render 'partials/header' %>
    <div id="content">
      <%= yield %>
      <%= render "partials/login" %>
    </div>
    <%= render 'partials/footer' %>
    <%= render 'partials/scripts' %>

    <script type="text/javascript" charset="utf-8">
      if ($("#map").length ) {
        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var myOptions = { zoom: 8, center: latlng, disableDefaultUI: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
        var map = new google.maps.Map(document.getElementById("map"), myOptions);
      }
    </script>
</body>
</html>
