<header>

<!-- top -->
<div id="top">
  <div class="content">
    <%= render "partials/account_header" %>
    <%= render "partials/logo" %>
    <%= render "partials/nav", :selected => "datasets" %>
  </div>
</div>
<!-- /top -->

<!-- infoband -->
<div id="infoband">
  <div class="content">
    <h1>Reference Card</h1>
    <h3>Provided by <a href="http://www.vizzuality.com">Vizzuality</a></h3>
  </div>
</div>
<!-- /infoband -->

</header>
