<header>

<!-- top -->
<div id="top">
  <div class="content">
    <div class="account">
      <a href="#">Sign in</a> or <a href="#">Create your account</a>
    </div>
    <div id="logo">
      <a href="#" class="logo"><img src="/img/logo.png" /></a>
      <h1><a href="#">DATA.GBIF.ORG</a></h1>
      <span>Free and open access to biodiversity data</span>
    </div>
    <nav>
    <ul>
      <li><a href="#">Occurences</a></li>
      <li class="selected"><a href="dataset.html">Datasets</a></li>
      <li><a href="#">Species</a></li>
      <li><a href="#">More</a></li>
      <li class="search"><form><input type="text" name="search" /></form></li>
    </ul>
    </nav>
  </div>
</div>
<!-- /top -->

<!-- infoband -->
<div id="infoband">
  <div class="content">
    <ul>
      <li>Explore</li> > <li>Datasets</li>
    </ul>
    <hgroup>
    <h1>Reference Card</h1>
    <h3>Provided by <a href="http://www.vizzuality.com">Vizzuality</a></h3>
    </hgroup>
    <div class="tags">HTML, CSS</div>
  </div>
</div>
<!-- /infoband -->

<!-- tabs -->
<div id="tabs">
  <ul>
    <li class="selected"><a href="index.html"><span>Reference</span></a></li>
  </ul>
</div>
<!-- /tabs-->

</header>
