<!-- infoband -->
<div id="infoband">
  <div class="content">
    <ul class="breadcrumb">
      <li><a href="/members/" title="GBIF Network Members">GBIF Network Members</a></li>
    </ul>

    <h1>Academy of Natural Sciences</h1>
    <h3 class="separator">More info at: <a href="#" title="Academy of Natural Sciences">www.acnatsci.org</a></h3>

    <ul class="tags">
      <li><a href="#" title="Turkey">Turkey</a></li>
      <li><a href="#" title="coastal">coastal</a></li>
      <li class="last"><a href="#" title="herbal">herbal</a></li>
    </ul>

  </div>
</div>
<!-- /infoband -->
