<!-- infoband -->
<div id="infoband">
  <div class="content">
    <ul class="breadcrumb">
      <li><a href="#" title="Explore">Explore</a></li> <li class="last"><a href="#" title="Occurrences">Occurrences</a></li>
    </ul>

    <h1>ANSP HRP 10</h1>
    <h3>An occurrence of <a href="/species/detail.html">Puma Concolor</a> from <a href="/dataset/detail.html">Sudamerican Felines</a> dataset.</h3>

  </div>
</div>
<!-- /infoband -->
