.candy_blue_button {
  display:block;
  min-width:88px;
  height:35px;
  padding:0 0 0 9px;
  border:none;
  background:url('/img/buttons/button_blue_left_side.png') no-repeat left top;
  text-align:center;
  @include transparency_fix;

  &.left { float:left; }
  &.right { float:right; }

  &:focus, &:hover {
    background-position:left -35px;
    span { background-position:right -35px; }
  }

  &.active, &:active {
    background-position:left bottom;
    span { line-height:35px; background-position:right bottom; }
  }

  span {
    display:block;
    height:35px;
    padding-right:10px;
    line-height:30px;
    background:url('/img/buttons/button_blue_right_side.png') repeat-x right top;
    font-family:$font_medium;
    font-size:15px;
    color:$brightest;
    @include blue-shadow;
    @include transparency_fix;
  }
}

.candy_white_button {
  display:block;
  min-width:88px;
  height:38px;
  padding:0 0 0 11px;
  border:none;
  text-align:center;
  background:url('/img/buttons/button_white_left.png') no-repeat left top;
  @include transparency_fix;

  &:hover {
    background-position:left -38px!important;
    span { color:$ultra_dark!important; background-position:right -38px!important; }
  }

  &.active, &:active {
    background-position:left bottom!important;
    span { line-height:38px!important; background-position:right bottom!important; }
  }

  span {
    display:block;
    height:38px;
    padding-right:11px;
    line-height:35px;
    background:url('/img/buttons/button_white_right.png') repeat-x right top;
    font-family:$font_medium;
    font-size:15px;
    @include white-shadow;
    @include transparency_fix;
  }
}

.candy_white_button.previous {
  float:left;
  padding-left:15px;
  background:url('/img/buttons/button_white_previous_left.png') no-repeat left top;

  span {
    padding: 0 11px 0 5px;
    background:url('/img/buttons/button_white_right.png') repeat-x right top;
  }
}
.candy_white_button.next{
  float:right;
  background:url('/img/buttons/button_white_left.png') no-repeat left top;

  span {
    padding-right:22px;
    background:url('/img/buttons/button_white_next_right.png') repeat-x right top;
  }
}

.search_button {
  float:left;
  margin:0;
  padding:0 20px 7px 0;
  width:109px;
  height:37px;
  background: url('/img/buttons/button_search.png') no-repeat left top;
  border:none;
  color:$brightest;
  font-family:$font_medium;
  font-size:17px;

  &:hover  { background-position:left -37px; }

  &.active, &:active {
    padding-top:5px; // we use padding-top instead of line-height to fix a bug in Firefox
    background-position:left bottom;
  }
}
