#content article form {
  clear:both;
  overflow:hidden;

  h2 { float:left; width:100%; padding-bottom:21px; margin-bottom:30px; border-bottom:1px solid $border_color; }
  button { float:right; margin-right:4px; }

  div.fields {
    clear:both;
    overflow:hidden;
    margin-bottom: 23px;

    div.field {
      width:auto;
      float:left;
      margin:0 17px 0 0;
      padding:0;

      &.last { margin-right:0; }
      &:last-child { margin-right:0; }
    }
  }

  div.field {
    float:left;
    margin-bottom: 23px;

    &.last { margin:0; }
    &:last-child { margin:0; }

    h3 span { float:right; margin-right:1px; font-weight:normal; font-style:italic; font-size: 13px; color:$gray; text-transform:none; text-shadow:none; }

    textarea {
      width:597px - 10*2;
      height:142px - 10*2;
      margin:0;
      padding:10px;
      border:none;
      overflow:auto;
      font-size:13px;
      background:url('/img/textarea_big_bkg.png') no-repeat;
      font-family:$base;
      resize:none;

      &:focus { outline:none; }
    }//textarea

    span.input_text { float:left; height:31px; padding:0 0 0 5px; background: url('/img/input_bkg.png') no-repeat left bottom; }

    input[type="text"], input[type="password"] {
      float:left;
      width:288px - 18;
      height:31px;
      margin:0;
      padding: 0 10px 0 3px;
      background: url('/img/input_bkg.png') no-repeat right top;
      font-family:$base;
      font-size:13px;
      color:$ultra_dark;
      border:none;
      resize:none;

      &:focus { outline:none; }
    }
  }
}
