article.help {
  div.left {
    h3 {font-size:18px!important; margin-bottom: 10px!important; }
    ul {
      li {
        background:none!important;
        padding:0!important;
        margin-left:0!important;
      }
    }
    ul.sizes {
      li {
        margin-bottom: 20px!Important;
      }
    }
  }


  h1 {
    font-size:35px!important;
    font-family:$font_regular;
  }

  h2 {
    font-size:30px!important;
    font-family:$font_regular;
  }

  h3 {
    font-size:35px!important;
    font-family:$font_regular;
  }

  h4 {
    font-size:35px;
    font-family:$font_regular;
  }

  h5 {
    font-size:25px;
    font-family:$font_regular;
  }

  h6 {
    font-size:15px;
    font-family:$font_regular;
  }

  .color {
    float:left;
    margin-right:5px;
    margin-top:4px;
    height:10px;
    width:10px;
    background:#000;
    border:1px solid #000;
  }
  span.code {
    color:$dark;
    font-size:11px;
  }
}
